.cat-btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: darkred;

    .cat-btn {
        @include base-btn;
    }

}